del {
  color: darkred;
  display: none;
}
ins {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.edits-on ~ ins {
  color: darkgreen;
  text-decoration: underline;
}
.edits-on ~ del {
  display: inline;
}
.edits-on ~ p ins {
  color: darkgreen;
  text-decoration: underline;
}
.edits-on ~ p del {
  display: inline;
}