.title {
  margin-bottom: 0.5em;
}

.page-number {
  position: absolute;
  top: 0.4em;
  right: 0.5em;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1;
  color: var(--color-neutral-shade1);
  margin: 0 0 0.2em;
}