.articles-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.articles-list h1,
.articles-list h2,
.articles-list h3,
.articles-list h4,
.articles-list h5,
.articles-list h6 {
  font-size: 2em;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 0.2em;
}

.articles-list li {
  padding: 1em;
}

.articles-list li:nth-of-type(even) {
  background: var(--color-primary-tint2);
}

.articles-list li:not(:last-of-type) {
  margin-bottom: 1em;
}

.articles-list img {
  width: 100%;
}

.articles-list p {
  margin: 0.5em 0 0;
}
