@import '@fontsource/nunito-sans/400.css';
@import '@fontsource/nunito-sans/400-italic.css';
@import '@fontsource/nunito-sans/700.css';
@import '@fontsource/nunito-sans/700-italic.css';
@import '@fontsource/nunito-sans/900.css';

html {
  --color-primary-tint2: hsl(325.6, 76%, 89%);
  --color-primary-tint1: hsl(325.6, 100%, 50%);
  --color-primary: hsl(323.6, 86.7%, 38.4%);
  --color-primary-shade1: hsl(317.6, 45.3%, 29.4%);

  --color-accent-tint1: hsl(144.4, 94%, 70%);
  --color-accent: hsl(144.4, 94%, 61%);
  --color-accent-shade1: hsl(144.4, 94%, 51%);

  --color-link: var(--color-primary);
  --color-link-visited: var(--color-primary);
  --color-link-hover: var(--color-primary);
  --color-link-active: var(--color-primary-tint1);

  --font-family: 'Nunito Sans', 'Helvetica Neue', 'Segoe UI', 'Verdana',
    sans-serif;

  --border-radius: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
dt,
dl {
  hyphens: auto;
}

h1 {
  font-weight: 900;
}
h2 {
  line-height: 1;
  font-weight: 700;
}

a:link:not(.button) {
  text-decoration: underline transparent;
  text-decoration-thickness: 5px;
  transition: text-decoration 100ms ease-out;
}
a[disabled] {
  color: var(--color-neutral);
}

a:hover:not(.button),
a:focus:not(.button) {
  text-decoration-color: var(--color-accent);
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

:not(nav) li {
  margin-bottom: 0.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --rhythm: 1.3rem;
}
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
  margin-top: 1em;
}

@media screen and (min-width: 35em) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    --rhythm: 2rem;
  }
}

h1.fancy,
h2.fancy,
h3.fancy,
h4.fancy,
h5.fancy,
h6.fancy {
  text-shadow: var(--color-primary-tint1) 0.034em 0.034em,
    var(--color-accent) -0.034em 0.068em;
}

.fancy small {
  text-shadow: none;
}

.fw-bold {
  font-weight: 700;
}

.button {
  box-shadow: 0.1em 0.1em 0 var(--color-neutral-shade1);
  transition: all 0.1s ease-in-out;
}

.button:hover,
.button:focus {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em 0 var(--color-neutral-shade1);
}

.button:active {
  transform: translate(0.1em, 0.1em);
  box-shadow: none;
}
.button,
.button.-block {
  display: flex;
}
.button.-large {
  font-weight: 700;
}
.button.-cta {
  --background-color: var(--color-accent);
  --background-color-hover: var(--color-accent-tint1);
  --border-color: transparent;
  --border-color-hover: transparent;
  --text-color: var(--color-neutral-shade4);
  --text-color-hover: var(--color-neutral-shade4);
}
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  /* 3 */
}
deckgo-highlight-code {
  --deckgo-highlight-code-white-space: pre;
  margin-bottom: 2rem;
}
