.standard-page-body,
.landing-page-body {
  height: 100%;
  min-height: 100vh;
}
.standard-page-body {
  background: linear-gradient(
    to bottom,
    var(--color-accent) 0,
    var(--color-accent) 3em,
    var(--color-primary-shade1) calc(3em + 1px),
    var(--color-primary-shade1) 4.2em,
    var(--color-primary-tint1) calc(4.2em + 1px),
    var(--color-primary-tint1) 5em,
    var(--color-primary) calc(5em + 1px)
  );
}
.standard-padding-container {
  padding: 1em 0.5em 0.5em;
}

@media screen and (min-width: 35em) {
  .standard-padding-container {
    padding: 2em 1em 1em;
  }
}

.landing-page-body {
  background: linear-gradient(
    94deg,
    var(--color-accent) 0,
    var(--color-accent) 5%,
    var(--color-primary-shade1) 5%,
    var(--color-primary-shade1) calc(5% + 1.2em),
    var(--color-primary-tint1) calc(5% + 1.2em),
    var(--color-primary-tint1) calc(5% + 2em),
    var(--color-primary) calc(5% + 2em)
  );
}
.landing-padding-container {
  padding: 0.5em;
}

.landing-page-body .logo,
.standard-page-body .logo {
  display: block;
  width: 12em;
  max-width: 100%;
}
.standard-page-body header .logo {
  margin: 0 auto 2em;
}
.landing-page-body footer {
  background-color: #6d2959;
  padding: 3em 0.5em 4em;
  margin-top: 10em;
  position: relative;
}
.landing-page-body footer::before {
  position: absolute;
  content: url('data:image/svg+xml, %3Csvg%20id=%22visual%22%20viewBox=%220%200%20900%2075%22%20width=%22100%25%22%20xmlns=%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink=%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version=%221.1%22%3E%3Crect%20x=%220%22%20y=%220%22%20width=%22900%22%20height=%2275%22%20fill=%22%23b70d74%22%20fill-opacity=%220.0%22%3E%3C%2Frect%3E%3Cpath%20d=%22M0%2041L69%2038L138%2031L208%209L277%2012L346%2044L415%2038L485%2030L554%2028L623%2011L692%2022L762%2012L831%2014L900%2043L900%2076L831%2076L762%2076L692%2076L623%2076L554%2076L485%2076L415%2076L346%2076L277%2076L208%2076L138%2076L69%2076L0%2076Z%22%20fill=%22%23ab1270%22%3E%3C%2Fpath%3E%3Cpath%20d=%22M0%2045L69%2026L138%2050L208%2042L277%2032L346%2053L415%2053L485%2028L554%2040L623%2028L692%2039L762%2053L831%2052L900%2035L900%2076L831%2076L762%2076L692%2076L623%2076L554%2076L485%2076L415%2076L346%2076L277%2076L208%2076L138%2076L69%2076L0%2076Z%22%20fill=%22%238b2366%22%3E%3C%2Fpath%3E%3Cpath%20d=%22M0%2064L69%2060L138%2046L208%2060L277%2068L346%2061L415%2064L485%2045L554%2059L623%2049L692%2060L762%2045L831%2045L900%2052L900%2076L831%2076L762%2076L692%2076L623%2076L554%2076L485%2076L415%2076L346%2076L277%2076L208%2076L138%2076L69%2076L0%2076Z%22%20fill=%22%236d2959%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E%0A');
  display: block;
  width: 100%;
  height: auto;
  left: 0;
  top: 0.65rem;
  transform: translateY(-100%);
}
.landing-page-body footer .logo {
  margin: 0 auto;
}
