.quote {
  display: grid;
  grid-template-rows: auto auto auto;
}
.quote-normal {
  composes: quote;
}
.quote-flipped {
  composes: quote;
}
.quote [data-gatsby-image-wrapper],
.quote [data-gatsby-image-wrapper] img,
.quote [data-placeholder-image] {
  border-radius: 50%;
}
.quote [data-gatsby-image-wrapper] {
  grid-row: 1;
  align-self: center;
  border: 0.5em solid var(--color-quote-accent);
  aspect-ratio: 1;
}
.quote blockquote {
  grid-row: 2;
  border: none;
  margin: 0 0 0 0.5em;
  font-weight: 900;
  line-height: 1;
  text-shadow: 0.05em 0.05em 0 var(--color-quote-accent);
}
.quote blockquote {
  text-indent: -0.5em;
}
.quote blockquote p::before,
.quote blockquote p::after {
  display: inline;
}
.quote blockquote p::before {
  content: '“';
}
.quote blockquote p::after {
  content: '”';
}
.quote figcaption {
  grid-row: 3;
  text-align: right;
}
.quote figcaption::before {
  content: '— ';
}

@media screen and (min-width: 35rem) {
  .quote {
    grid-template-rows: auto auto;
  }
  .quote-normal {
    grid-template-columns: fit-content(33%) 2fr;
  }
  .quote-flipped {
    grid-template-columns: 2fr fit-content(33%);
  }
  .quote [data-gatsby-image-wrapper] {
    grid-row: 1 / end;
  }
  .quote [data-gatsby-image-wrapper] {
    grid-column: 1;
  }
  .quote-flipped [data-gatsby-image-wrapper] {
    grid-column: 2;
  }
  .quote-normal blockquote,
  .quote-normal figcaption {
    grid-column: 2;
  }
  .quote-flipped blockquote,
  .quote-flipped figcaption {
    grid-column: 1;
  }
  .quote blockquote {
    grid-row: 1;
  }
  .quote figcaption {
    grid-row: 2;
  }
}
