.footer {
  margin-top: 4em;
  padding: 5.5em 1em 1em;
  background: linear-gradient(
    to bottom,
    #c4338b 0,
    #c4338b 1em,
    #d15aa2 calc(1em + 1px),
    #d15aa2 1.5em,
    #de80b8 calc(1.5em + 1px),
    #de80b8 2em,
    #eba7cf calc(2em + 1px),
    #eba7cf 3em,
    var(--color-primary-tint2) calc(3em + 1px)
  );
}

.footer-grid {
  display: grid;
  column-gap: 2em;
  max-width: 60em;
  margin: auto;
}
@media screen and (min-width: 55em) {
  .footer-grid div:first-of-type {
    grid-column: 1;
    grid-row: 1;
  }
  .footer-grid div:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1;
  }
  .footer-grid div:nth-of-type(3) {
    grid-column: 1;
    grid-row: 2;
  }
  .footer-grid div:nth-of-type(4) {
    grid-column: 2;
    grid-row: 2;
  }
}

.footer h2 {
  margin-bottom: 0.75rem;
  font-size: 1.3em;
}

.footer p {
  margin: 0 0 0.5em;
}
