.text-container {
  position: relative;
  max-width: 50em;
  margin: auto;
  padding: 1em;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 1em 1em 0 var(--color-primary-shade1);
}
@media screen and (min-width: 35em) {
  .text-container {
    padding: 2em;
  }
}

.text-container iframe[src*='www.youtube'],
.text-container [data-gatsby-image-wrapper] {
  margin-bottom: 1em;
}
.text-container iframe[src*='www.youtube'] {
  aspect-ratio: var(--aspect-ratio, 16/9);
  width: 100%;
  height: auto;
}
